body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding-top: 40px;
  padding-bottom:40px;
  padding-right: 30px;
  padding-left: 30px;
  width: 250px;
  overflow: hidden;
  background: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: #E25D84;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #E25D84;
  padding: 8px 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px #EFB7AA;
}


/* Toggle Switch Style */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #f5dfda;
  transition: 0.3s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; width: 18px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #EFB7AA;
}

input:checked + .slider:before {
  transform: translateX(22px);
}
